form(id="uploadForm" enctype="multipart/form-data" action="/api/upload" method="post")
	input(type="file" name="gedcom_file" accept=".ged")
	br
	input(type="submit" value="Enviar archivo" name="submit")